@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

body {
    text-align: center;
    margin: 0;
    background-color: rgb(96 110 114);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 100%;

}

header {
    display: grid;
    align-items: center;
}

main {
    display: grid;
    justify-items: center;
}

footer {
    background-color: whitesmoke;
    display: grid;
}

h1 {
    font-family: Lemon;
    color: white;
    font-size: 3em;
}

.bar {
    width: 80%;
    display: flex;
    margin: auto;
    overflow: hidden; /* Evita que el sombreado se extienda más allá del contenedor */
    border-radius: 10px; /* Radio del borde redondeado */
    box-shadow: 0px 5px darkslategrey;
 
}

.left {
    background: linear-gradient(hsl(161, 100%, 40%), hsl(161, 100%, 20%));
    flex: 0 0 0%; /* Toma la mitad del ancho del contenedor */
    height: 40px;

}

.right {
    background: linear-gradient(hsl(0, 100%, 40%), hsl(0, 100%, 20%));
    flex: 0 0 100%; /* Toma la otra mitad del ancho del contenedor */
    height: 40px;
    
}

#green {
    display: none;
    color: white;
    font-family: monospace;
    text-align: right;
    padding-right: 10px;
    align-content: center;
}
button {
    background-color: lightgray;
    padding: 1em;
    border-radius: 20px;
    width: 150px;
    box-shadow: 0px 5px darkslategrey;
}

.buttonContainer {
    display: inline-flex;
}

.buttonContainer div {
    margin: 1em;
}

#cheerUp {
    color: black;
    font-family: Lemon;
}

@media only screen and (max-width: 600px) {
    .buttonContainer {
        display: block;
    }
}